.gallery {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  padding: 8px;
  margin-bottom: 3rem;
}

.gallery-title {
  text-align: center;
  text-decoration: underline;
  margin: 4rem auto;
  color: #0d0e13;
}

.carousel {
  width : 60%;
  margin : 0 auto;
}