.reset_password_form {
  width: 80%;
  min-height: 70vh;
  margin: 100px auto;
  border: 1px solid rgba(199, 189, 189, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(199, 189, 189, 0.699),
    -5px -5px 10px rgba(199, 189, 189, 0.699);
}

#email,
#newPassword,
#retypePassword {
  width: 100%;
  margin: 30px auto 10px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  padding: 30px;
  border-bottom: 1px blue solid;
  outline: none;
}

#email:focus,
#newPassword:focus,
#retypePassword:focus {
  outline-width: none;
  border-bottom: 3px blue solid;
}

.reset_password_btn {
  width: 30%;
  height: 35px;
  font-size: 1.2rem;
  background-color: blue;
  border: none;
  color: white;
  margin: 30px auto auto auto;
}

.reset_password_btn:hover {
  cursor: pointer;
  background-color: rgb(80, 80, 223);
  border-radius: 5px;
}

.email-sended {
  width: 70%;
  margin: auto;
  padding: 5px;
  border: 1px black solid;
  height: auto;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.3rem;
}

.email-sended span {
  color: rgb(240, 54, 54);
  font-weight: bold;
}
