.profile-card {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  text-align: center;
}

.profile__place-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__modal-actions {
  text-align: right;
}

.profile__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.profile__actions button,
.profile__actions a {
  margin: 0.5rem;
}

.profile__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image {
  margin: auto;
  width: 40%;
  height: 40%;
  border-radius: 5%;
}

.profile__info h2 {
  margin: 1rem auto 0 auto;
  display: block;
  font-weight: bold;
  font-size: 1rem;
}

.profile__info h3 {
  margin: 0.2rem auto 0 auto;
  width: 100%;
  text-align: left;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
  text-align: center;
}
.profile__info input {
  text-align: center;
}

.profile button {
  margin: 1rem;
}

#togglePassword {
  cursor: pointer;
  opacity: 0.5;
  float: right;
  margin: -2.3rem 0.3rem 0px 0px;
}

@media (min-width: 768px) {
  .profile__image {
    height: 20rem;
  }
}
