.home-auth-card {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.6;
    width: 20rem;
}

@media (max-width: 1023px){
.home-auth-card {
    margin : 0  auto ;
    position: relative;
}
}